<div class="section--product--promotion">
  <div class="container">
    <!-- lewy slajder -->
    <div class="left-slider">
      <div class="slider-header">
        <div>HOT DEALS</div>
        <div class="col-auto dots" data-sliderNav="left-product-prom-slider"></div>
      </div>
      <!-- pierwszy slajd -->
      <div
        class="slider-container"
        data-slider="left-product-prom-slider"
        id="product-promotion-slider-container"
      >
        <div class="slider-wrapper">
          <div class="product-box">
            <div class="photo photo-1">
              <div class="buttons">
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
              <div class="time-circles">
                <div class="circle">
                  <p>25</p>
                  <p>DAYS</p>
                </div>
                <div class="circle">
                  <p>10</p>
                  <p>HRS</p>
                </div>
                <div class="circle">
                  <p>45</p>
                  <p>MINS</p>
                </div>
                <div class="circle">
                  <p>30</p>
                  <p>SECS</p>
                </div>
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-eye"></i></a>
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price old">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
        <!-- drugi slajd -->
        <div class="slider-wrapper">
          <div class="product-box">
            <div class="photo photo-2">
              <div class="buttons">
                <a href="#" class="btn-main-small"
                  ><i class="fa fa-shopping-basket"></i> ADD TO CART</a
                >
              </div>
              <div class="time-circles">
                <div class="circle">
                  <p>25</p>
                  <p>DAYS</p>
                </div>
                <div class="circle">
                  <p>10</p>
                  <p>HRS</p>
                </div>
                <div class="circle">
                  <p>45</p>
                  <p>MINS</p>
                </div>
                <div class="circle">
                  <p>30</p>
                  <p>SECS</p>
                </div>
              </div>
            </div>
            <div class="content">
              <h5>Aenean Ru Bristique</h5>
              <div class="stars">
                <a href="#" class="full"></a> <a href="#" class="full"></a>
                <a href="#"></a> <a href="#"></a> <a href="#"></a>
              </div>
            </div>
            <div class="line"></div>
            <div class="actions">
              <div class="outlines">
                <a href="#" class="btn-outline"><i class="far fa-eye"></i></a>
                <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
                <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
              </div>
              <div class="price old">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
              <div class="price">
                <div class="btn-main-small no-hover">$ 30.00</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="right-slider">
      <div class="slider-content">
        <div class="sale-info">
          <div class="sale-content">
            <p>INDOOR <strong>FURNITURE</strong></p>
            <p>SAVE UP TO 50% ON ALL FURNITURE</p>
          </div>
          <div class="btn-main no-hover">SHOP NOW</div>
        </div>
        <div class="arrows">
          <div class="arrow"><i class="fas fa-angle-left"></i></div>
          <div class="arrow"><i class="fas fa-angle-right"></i></div>
        </div>
      </div>
    </div>
  </div>
</div>
