<div class="section--products">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 promo-wrapper">
        <div class="promo-item big">
          <img src="http://lorempixel.com/640/480/abstract" alt="promo-image" />
          <div class="text-content white">
            <h1>guest room <br /><span class="text-bigger">sofa</span></h1>
            <span class="promo-percentage">-20%</span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 promo-wrapper">
        <div class="row">
          <div class="col-12 promo-item small">
            <img src="http://lorempixel.com/640/220/fashion" alt="promo-image" />
            <div class="text-content text-center">
              <h2><b>office</b> chair</h2>
              <h3>collection</h3>
              <p class="price">$200</p>
            </div>
          </div>
          <div class="col-12 promo-item small">
            <img src="http://lorempixel.com/640/220/animals" alt="promo-image" />
            <div class="text-content text-right">
              <h3 class="special"><b>special</b> collection</h3>
              <h5>save up 45% of furniture</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
