<div class="section--products product-boxes">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>New furniture</h3></div>
        <div class="col menu">
          <ul>
            <li class="tab bed-tab selected">Bed</li>
            <li class="tab chair-tab">Chair</li>
            <li class="tab sofa-tab">Sofa</li>
            <li class="tab table-tab">Table</li>
            <li class="tab dining-tab">Dining</li>
          </ul>
        </div>
        <div class="col-auto dots">
          <ul>
            <li><a href="#" class="active"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row products-section" id="features">
      <script id="product-temp" type="x-tmpl-mustache">
        <div class="product-box col-3 {{tag}}">
          <div class="photo photo-{{nr}}">
            <div class="sale">sale</div>
            <div class="buttons">
              <a href="#" class="btn-main-small">Quick View</a>
              <a href="#" class="btn-main-small">
                <i class="fa fa-shopping-basket"></i>ADD TO CART</a>
            </div>
          </div>
          <div class="content">
            <h5>{{title}}</h5>
            <div class="stars rated">
              <a href="#" data-star="1" class="full"></a>
              <a href="#" class="full" data-star="2"></a>
              <a href="#" data-star="3"></a> <a href="#" data-star="4"></a>
              <a href="#" data-star="5"></a>
            </div>
          </div>
          <div class="line"></div>
          <div class="actions">
            <div class="outlines">
              <a href="#" class="btn-outline"><i class="far fa-heart"></i></a>
              <a href="#" class="btn-outline"><i class="fas fa-exchange-alt"></i></a>
            </div>
            <div class="price old">
              <div class="btn-main-small no-hover">{{price}}</div>
            </div>
            <div class="price"><div class="btn-main-small no-hover">{{price}}</div></div>
          </div>
        </div>
      </script>
    </div>
  </div>
</div>
