<div class="section--feedback">
  <div class="container">
    <div class="panel-bar">
      <div class="row no-gutters align-items-end">
        <div class="col-auto heading"><h3>Client feedback</h3></div>
        <div class="col"></div>
        <div class="col-auto dots">
          <ul>
            <li><a href="#" class="active"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="feedback-slider">
      <div class="feedback-wrapper">
        <p class="quote text-center">,,</p>
        <p class="feedback-text text-center">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis cupiditate
          blanditiis quisquam nobis nam aliquid qui fugiat sequi nesciunt explicabo,
          quaerat fugit rem hic modi eius sint quas sunt aliquam.
        </p>
        <div class="feedback-author">
          <div class="row">
            <div class="col-4">
              <img
                src="https://s3.amazonaws.com/uifaces/faces/twitter/oksanafrewer/128.jpg"
                alt="author-image"
                class="img-fluid"
              />
            </div>
            <div class="col-8 flex-column d-flex justify-content-center">
              <p class="author-name">John Smith</p>
              <p class="author-info">Furniture client</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
