<div class="section--brands">
  <div class="container border-container">
    <div class="brand-slider-wrapper">
      <div class="row ">
        <div class="slider-nav">
          <button class="btn-slider-left">&lt;</button>
          <button class="btn-slider-right">&gt;</button>
        </div>
        <div class="col-12 brand-container d-flex justify-content-around">
          <div class="col-2 brand-item">
            <img
              src="http://lorempixel.com/150/100/business"
              alt="brandLogo"
              class="-img-fluid"
            />
          </div>
          <div class="col-2 brand-item">
            <img
              src="http://lorempixel.com/150/100/business"
              alt="brandLogo"
              class="-img-fluid"
            />
          </div>
          <div class="col-2 brand-item">
            <img
              src="http://lorempixel.com/150/100/business"
              alt="brandLogo"
              class="-img-fluid"
            />
          </div>
          <div class="col-2 brand-item">
            <img
              src="http://lorempixel.com/150/100/business"
              alt="brandLogo"
              class="-img-fluid"
            />
          </div>
          <div class="col-2 brand-item">
            <img
              src="http://lorempixel.com/150/100/business"
              alt="brandLogo"
              class="-img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
