.section--feedback {
  margin-bottom: 4rem;
  .feedback-slider {
    .quote {
      transform: scale(8) translateY(-15%);
      margin-bottom: 2.5rem;
    }
    .feedback-text {
      padding: 10px 2rem;
      color: #676767;
    }
    .feedback-author {
      max-width: 300px;
      margin: 20px auto;
      .author-name {
        font-weight: 700;
        margin: 5px 0;
      }
      .author-info {
        color: #676767;
      }
    }
  }
}
