.section--features {
  padding: 5rem 0;

  a {
    text-decoration-line: none;
  }
}
@media (max-width: 768px) {
  .section--features {
    .feature-box {
      min-height: 140px;
      margin-bottom: 20px;
    }
  }
}
