.section--product--promotion {
  height: 550px;
  margin: 0 auto;
  overflow: hidden;

  .container {
    height: 550px;
    display: flex;

    .left-slider {
      max-width: 400px;
      height: 550px;

      .slider-header {
        height: 50px;
        width: 100%;
        background-color: $text-color;
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 15px 20px;
      }

      .dots {
        display: flex;
      }

      .slider-control {
        margin: 5px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background-color: #e1e1e1;
        border: none;

        button.tns-nav-active {
          background-color: #d58e32;
        }
      }

      .product-box {
        margin-bottom: 0px;

        .photo {
          padding: 78% 0 0;
        }

        .btn-outline:hover,
        .btn-main-small:hover {
          background-color: $primary;
        }

        .buttons {
          position: relative;
          bottom: 180px;
          left: 130px;
          visibility: hidden;
        }

        .time-circles {
          display: flex;
          justify-content: center;
          position: absolute;
          bottom: 10px;
          left: 45px;
          visibility: hidden;

          .circle {
            background-color: #3e3e3e;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            margin-left: 5px;

            p {
              color: white;
              text-align: center;
              font-size: 25px;
              margin: 1px;
              padding-top: 6px;

              &:nth-last-child(1) {
                font-size: 12px;
                margin: -5px;
                padding: 0px;
              }
            }
          }
        }

        &:hover {
          .buttons {
            visibility: visible;
          }

          .time-circles {
            visibility: visible;
          }
        }
      }
    }

    .right-slider {
      width: 100%;
      background-color: #cccccc;
      margin-left: 20px;
      position: relative;

      .sale-info {
        background-color: #666666;
        color: white;
        text-align: center;
        height: 200px;
        margin-top: 150px;

        .sale-content {
          padding: 40px;

          p {
            font-size: 25px;
            margin: 0px;

            &:nth-child(1) {
              font-size: 45px;
            }
          }
        }

        .btn-main {
          background-color: white;
          color: black;
          width: 160px;
          text-align: center;
          margin: 0 auto;
          cursor: pointer;
        }
      }

      .arrows {
        display: flex;
        width: 100%;
        position: absolute;
        bottom: 0px;
        text-align: center;
        color: white;
        height: 40px;
        cursor: pointer;

        .arrow {
          width: 50%;
          background-color: $text-color;
          border-left: 1px solid $primary;

          &:hover {
            background-color: $primary;
          }
        }

        i {
          padding-top: 10px;
          font-size: 22px;
        }
      }
    }
  }
}
