.section--product--promotion {
  max-height: 505px;
  margin: 0 auto;

  .container {
    display: flex;

    .left-slider {
      min-width: 360px;

      .slider-header {
        height: 50px;
        width: 100%;
        background-color: $text-color;
        color: white;
        display: flex;
        justify-content: space-between;
        padding: 15px 20px;
      }

      ul {
        margin: 0;
        padding: 0 0 0 1rem;

        li {
          display: inline-block;
          margin-left: 0.5rem;

          .active {
            background-color: $primary;
          }

          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: #e1e1e1;

            &:hover {
              background-color: $primary;
            }
          }
        }
      }

      .product-box {
        margin-bottom: 0px;

        .btn-outline:hover,
        .btn-main-small:hover {
          background-color: $primary;
        }

        .buttons {
          position: relative;
          bottom: 180px;
          left: 100px;
          visibility: hidden;
        }

        .time-circles {
          display: flex;
          justify-content: center;
          position: absolute;
          bottom: 10px;
          left: 25px;
          visibility: hidden;

          .circle {
            background-color: #3e3e3e;
            border-radius: 50%;
            width: 70px;
            height: 70px;
            margin-left: 5px;

            p {
              color: white;
              text-align: center;
              font-size: 25px;
              margin: 0px;
              padding-top: 6px;

              &:nth-last-child(1) {
                font-size: 12px;
                margin: 0px;
                padding: 0px;
              }
            }
          }
        }

        &:hover {
          .buttons {
            visibility: visible;
          }

          .time-circles {
            visibility: visible;
          }
        }
      }
    }

    .right-slider {
      width: 100%;
      background-color: #cccccc;
      margin-left: 20px;
      position: relative;

      .sale-info {
        background-color: #666666;
        color: white;
        text-align: center;
        height: 200px;
        margin-top: 150px;

        .sale-content {
          padding: 40px;

          p {
            font-size: 25px;
            margin: 0px;

            &:nth-child(1) {
              font-size: 45px;
            }
          }
        }

        .btn-main {
          background-color: white;
          color: black;
          width: 160px;
          text-align: center;
          margin: 0 auto;
          cursor: pointer;
        }
      }

      .arrows {
        display: flex;
        width: 100%;
        position: absolute;
        bottom: 0px;
        text-align: center;
        color: white;
        height: 40px;
        cursor: pointer;

        .arrow {
          width: 50%;
          background-color: $text-color;
          border-left: 1px solid $primary;

          &:hover {
            background-color: $primary;
          }
        }

        i {
          padding-top: 10px;
          font-size: 22px;
        }
      }
    }
  }
}
